:root {
  --white:        #FFFFFF;
  --lighter-gray: #E6E9F0;
  --light-gray:   #D5DBE5;
  --gray1:        #A8ABB2;
  --gray2:        #85888F;
  --almost-dark:  #303133;
  --almost-darker:#1A1B1C;
}


html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.control-panel {
  font-family: "Struve Regular";
  font-size: 16px;
  min-width: 319px;
  padding: 54px 32px 0 32px;
  border: 0 solid var(--lighter-gray);
  /* border-color: var(--lighter-gray); */
}

.control-panel-slider-container {
  margin: 24px 0 14px 0;
}

.control-panel-label-name {
  color: var(--gray2);
}

.control-panel-label-value {
  color: var(--almost-dark);
}

.control-panel-slider {
  border: 1px solid white;
}

.control-panel-slider{
  -webkit-appearance: none;
}

.control-panel-slider::-webkit-slider-runnable-track {
  height: 1px;
  background: var(--light-gray);
  border: none;
  margin: 10px 0 8px 0;
  padding: 0;
}

.control-panel-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 11px;
  width: 11px;
  border-radius: 0;
  background: var(--almost-darker);
  margin-top: -4px;
}

.control-panel-slider:focus {
  outline: none;
}

.control-panel-slider:focus::-webkit-slider-runnable-track {
  background: #ccc;
}


.control-panel-slider::-moz-range-track {
  height: 1px;
  background: var(--light-gray);
  border: none;
}

.control-panel-slider::-moz-range-thumb {
  border: none;
  height: 11px;
  width: 11px;
  border-radius: 0;
  background: var(--almost-darker);
}

/*hide the outline behind the border*/
.control-panel-slider:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px;
}

.text-sample-area {
  margin: 0;
  padding: 64px 32px 32px 32px;
}

.text-sample-area:focus {
  outline: none;
}