:root {
  --tester-background-main: #FFFFFF;
  --tester-background-hover: #F2F4F7;
  --tester-background-inverse: #1A1B1C;
  --tester-text-input: #1A1B1C;
  --tester-text-body: #303133;
  --tester-text-muted: #85888F;
  --tester-text-inverse: #FFFFFF;
  --tester-stroke-light: #E6E9F0;
  --tester-stroke-normal: #D5DBE5;
  --tester-stroke-hover: #3F4042;
  --tester-icons-normal: #1A1B1C;
  --tester-icons-muted: #85888F;
  --tester-icons-hover: #F56325;
  --tester-slider-normal: #1A1B1C;
  --tester-slider-pressing: #F56325;
  --tester-features-active: #1A1B1C;
  --tester-features-inactive: #D5DBE5;
  --tester-features-hover: #3F4042;
  }

[data-theme="invert"] {
  --tester-background-main: #1A1B1C;
  --tester-background-hover: #303133;
  --tester-background-inverse: #FFFFFF;
  --tester-text-input: #FFFFFF;
  --tester-text-body: #FFFFFF;
  --tester-text-muted: #A8ABB2;
  --tester-text-inverse: #303133;
  --tester-stroke-light: #3F4042;
  --tester-stroke-normal: #3F4042;
  --tester-stroke-hover: #D5DBE5;
  --tester-icons-normal: #E6E9F0;
  --tester-icons-muted: #A8ABB2;
  --tester-icons-hover: #F56325;
  --tester-slider-normal: #E6E9F0;
  --tester-slider-pressing: #F56325;
  --tester-features-active: #E6E9F0;
  --tester-features-inactive: #3F4042;
  --tester-features-hover: #F2F4F7;
}

* {
  box-sizing: border-box;
}

.tester {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased; 
  background: var(--tester-background-main);
}

.control-panel {
  font-family: "Struve Regular";
  font-size: 16px;
  min-width: 320px;
  padding: 16px 32px 64px 32px;
  border: 0 solid var(--tester-stroke-light);
  overflow: auto;
  max-height: 100vh;
  scrollbar-width: none;
}
.control-panel-top-or-bottom {
  max-width: 320px;
}
.control-panel::-webkit-scrollbar {
  display: none;
}

.control-panel-container {
  margin: 39px 0 14px 0;
  min-height: 40px;
  position: relative;
  display: inline-block;
}

.control-panel-label-name {
  color: var(--tester-text-muted);
}

.control-panel-label-value {
  color: var(--tester-text-body);
}

.control-panel-label-value:focus {
  outline: 0px solid transparent;
}

.control-panel-label-units {
  margin-left: 0.2em;
  color: var(--tester-text-body);
}

.control-panel-slider {
  margin: 4px 0 0 0;
  border: 0px solid var(--tester-background-main);
  background: var(--tester-background-main);
}

.control-panel-slider{
  -webkit-appearance: none;
}

.control-panel-slider::-webkit-slider-runnable-track {
  height: 1px;
  background: var(--tester-stroke-normal);
  border: none;
  margin: 10px 0 8px 0;
  padding: 0;
}

.control-panel-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 11px;
  width: 11px;
  border-radius: 0;
  background: var(--tester-slider-normal);
  margin-top: -4px;
}

.control-panel-slider:focus {
  outline: none;
}

.control-panel-slider:focus::-webkit-slider-runnable-track {
  background: var(--tester-stroke-normal);
}


.control-panel-slider::-moz-range-track {
  height: 1px;
  background: var(--tester-stroke-normal);
  border: none;
}

.control-panel-slider::-moz-range-thumb {
  border: none;
  height: 11px;
  width: 11px;
  border-radius: 0;
  background: var(--tester-slider-normal);
}

/*hide the outline behind the border*/
.control-panel-slider:-moz-focusring {
  outline: 1px solid var(--tester-background-main);
  outline-offset: -1px;
}
.tester-feature-wrapper {
  margin: 32px 0 0 0;
}
.tester-feature-block {
  margin: 0px -32px 14px -32px;
  padding: 0px 32px 0 32px;
  border-bottom: 1px solid var(--tester-stroke-normal);
}

.tester-feature-block-content {
  margin: 0 0 32px 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s ease-out;
  }

.tester-feature-block-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 16px 0;
  color: var(--tester-text-muted);

}
.tester-radio-button {
  appearance: none;
  border: 1px solid var(--tester-features-inactive);
  background-color: var(--tester-background-main);
  min-height: 19px;
  min-width: 19px;
  max-height: 19px;
  max-width: 19px;
  margin: 0 15px 0 5px;
  border-radius: 10px;
}
.tester-checkbox {
  appearance: none;
  border: 1px solid var(--tester-features-inactive);
  background-color: var(--tester-background-main);
  min-height: 18px;
  min-width: 18px;
  max-height: 18px;
  max-width: 18px;
  margin: 0 17px 0 6px;
}
.tester-radio-button:checked,.tester-checkbox:checked {
  border: 1px solid var(--tester-features-active);
  background-color: var(--tester-features-active);
}
.tester-feature-tag {
  margin: 8px 0 12px 0;
}

.tester-feature-tag-label {
  margin-right: 18px;
  color: var(--tester-text-body);
  hyphens: auto;  
}

.tester-feature-tag-code {
  color: var(--tester-text-muted);
}

.tester-header {
  color: var(--tester-text-body);
  font-family: "Struve Semibold";
  margin: 0 0 40px 0;
}
.tester-header-buttons {
  
}

.tester-icons {
  color: var(--tester-icons-normal);
  font-family: "Iconoteka Beta Regular";
  font-variation-settings: 'wght' 320;
  font-size: 22px;
  margin-left: 22px;
}

.tester-icons-align {
  color: var(--tester-icons-muted);
  font-family: "Iconoteka Beta Regular";
  font-variation-settings: 'wght' 420;
  font-size: 19px;
  margin-right: 2px;
  margin-left: 22px;
  margin-bottom: 4px;
}

.tester-icons-align-down {
  color: var(--tester-icons-normal);
}

.tester-case-container {
  margin-top: 8px;
}

.tester-case {
  color: var(--tester-text-muted);
  margin-left: 22px;
  margin-bottom: 5px;
}

.tester-case-down {
  color: var(--tester-text-body);
  margin-left: 22px;
}

.tester-button {
  cursor: pointer;
}

.tester-menu-panel {
  color: var(--tester-text-body);
  background-color: var(--tester-background-main);
  left: -24px;
  top: 40px;
  border: 1px solid var(--tester-stroke-light);
  min-width: 302px;
  display: none;
  position: absolute;
  z-index: 1;
}

.tester-menu-panel-closed-current {
  color: var(--tester-text-body);
}

.tester-menu-panel-show {
  display:block;
} 

.tester-menu-panel-element {
  margin:0;
  padding: 14px 11px 14px 24px;
}

.tester-menu-panel-element:hover {
  background: var(--tester-background-hover);
}

.tester-menu-panel-element-current, .tester-menu-panel-element-current:hover {
  color: var(--tester-text-inverse);
  background: var(--tester-background-inverse);
}

.tester-line-separator {
  margin: 6px 0 0 0;
  height: 1px;
  background: var(--tester-stroke-normal);
  border: none; 
}

.text-sample-area-container {
  width: 100vw;
  height: 100vh;
  display: inline-block;
  overflow: hidden;
}
.text-sample-area {
  color: var(--tester-text-input);
  margin: 0;
  padding: 64px 32px 32px 32px;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  overflow: hidden;
}

.text-sample-area:focus {
  outline: none;
}